.form-group {
    margin-bottom: 15px;
}

.error-input {
    border-color: red;
}

.red {
    color: red;
}

.invisible {
    display: none;
}

.form-control:focus {
    box-shadow: none;
    border-color: initial;
}
